<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventPlannerApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.EmployeeHomeActivity"
            android:exported="false" />

        <receiver
            android:name=".receivers.SyncReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.eventplannerapp.activities.ReportsActivity.SYNC_DATA" />
            </intent-filter>
        </receiver>

        <service android:name=".services.SyncService" />
        <!--
service
            android:name=".services.ForegroundService"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true"
            android:exported="false" /
        -->
        <activity
            android:name=".activities.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OrganizatorHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EventFormActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddEventTypeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HandleEventsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddSubcategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HandleCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OwnerRegistartionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VlasnikHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="activate"
                    android:scheme="event planner" />
            </intent-filter>
        </activity>
    </application>

</manifest>